body {
    height: 3000px;
    background-color: #EFEFE6;
    font-family: Inter, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
.top-page {
    position: fixed;
    background: rgba(239, 239, 230, 0.856);
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 2;
}
.post-top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-details {
    display: flex;
    flex-direction: row;
}
.username {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    padding-right: 8px;
}
.date {
    font-size: 14px;
    padding-top: 5px;
}
.title-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title {
    font-size: 20px; 
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
}
.rating {
    margin-left: 20px;
}
.location {
    font-size: 14px;
    color: #727272;
}
.description, 
.location {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
}
img.post-image {
    height: 320px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 8px;
}
.view-button-home {
    background: none;
    color: black;
    font-size: 20px;
    padding: 0;
    /* padding-right: 4px; */
    width: 25px;
}
.view-button-home:hover {
    background: none;
    color: gray;
}
.star3-rating {
    display: flex;
    direction: row;
    justify-content: right;
    padding-top: 6px;
    margin-left: 20px;
}
.star3 {
    font-size: 10px;
    color: #ddd;
}
.star3.filled {
    color: black;
}
.star3-rating input {
    display: none;
}