body {
    height: 3000px;
    background-color: #EFEFE6;
    font-family: Inter, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
.top-page {
    position: fixed;
    background: rgba(239, 239, 230, 0.856);
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 2;
}
.post-top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-details {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.my-user-picture,
.user-picture {
    height: 30px;
    width: 30px;
    border-radius: 50px;
}
.my-user-picture {
    margin-right: 14px;
}
.user-picture {
    margin-right: 10px;
}
.username {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}
.title-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.large-image, .small-image, .medium-image {
    width: 100%;
    border-radius: 10px;
    height: auto;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
.title {
    font-size: 22px; 
    font-weight: bold;
}
.rating {
    margin-left: 20px;
}
.location,
.description {
    font-size: 14px;
}
.location {
    padding-top: 3px;
    color: #727272;
    margin-bottom: 10px;
}
.description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}
.post-image {
    /* set image size. adjust when post sizing is enabled. */
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}