#login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: 'Inter';
  background: #EFEFE6;
  position: relative;
  overflow: hidden;
}

#login-page::before,
#signup-page::before,
#verify-page::before {
  content: "";
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(map.jpg) no-repeat center center;
  background-size: cover;
  opacity: 0.2; /* 20% opacity */
  z-index: 1;
}

#login-page > *, 
#signup-page > *, 
#verify-page > *{
  position: relative;
  z-index: 2;
}

.app-details {
  padding-top: 20px;
  padding-bottom: 25px;
  margin-left: 0px;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 10px;
}

.logo {
  height: 90px;
  padding-right: 10px;
}

#login-div,
#register-div {
  max-width: 30vw;
  min-width: 300px;
  padding: 5vh;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.959);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

#brand-name-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#brand-name {
  margin: none;
  color: #0C274E;
  font-family: Anton;
}

.prompt {
  color: #0C274E;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.signup-prompt {
  margin-bottom: 20px;
}

#forgot-pass-redirect {
  color: #0C274E;
  font-style: normal;
  font-weight: bold;
}

#forgot-pass-redirect a {
  text-decoration: none;
  display: inline;
}

div.row.justify-content-center.login-button,
div.row.justify-content-center.signup-button {
  padding: 0;
}

#login-btn,
#signup-btn {
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
  margin-bottom: 12px;
  font-weight: 600;
}

#signup-redirect {
  color: #0C274E;
  text-align: center;
  font-style: normal;
  font-weight: bold;
}

#signup-redirect p {
  display: inline;
}

#signup-redirect a {
  text-decoration: none;
  display: inline;
}

#loginResult {
  color: rgb(255, 78, 78);
  text-align: center;
  font-style: normal;
  font-weight: bold;
  width: 100%;
}

.label {
  margin-left: 12px;
}

input.form-control-sm {
  padding: 0;
  border: 1.5px solid #A3A3A3;
}

#forgot-pass-redirect {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 16px;
}