#my-trips-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  padding: 0;
  background-color: #EFEFE6;
}

#my-trips-div {
    width: 100vw;
    margin: auto;
    margin-top: 70px;
    padding: 5vh;
    border-radius: 40px;
}

#my-trips-nav {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-bottom: 4rem;
}

#my-trips-nav .form-control {
    width: 100%;
    border: none;
    border: 1.5px solid #A3A3A3;
    height: 50px;
    border-radius: 5px;
}

div.card.mb-4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    margin: auto; 
}

img.post-image-mytrips {
    width: 100%; 
    max-width: 300px;
    height: 150px; 
    object-fit: cover; 
    border-radius: 10px; 
}

#my-trips-nav a {
    margin: 0;
}

#active-link a {
    font-weight: bold;
}

.search-container {
    position: relative;
    width: 100%;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    color: #6c757d;
    pointer-events: none;
}

#entry-search-bar {
    padding-left: 35px;
    margin: 12px;
    border: 1px solid black;
    border-radius: 5px;
}

#single-view-btn {
    max-width: 100px;
}

#rating-text {
    padding: 0;
}

#action-btns {
    display: flex;
}

#action-btns button {
    flex: 1;
}

.entry-title {
    font-weight: bold;
    font-size: 1.20em;
}

.mytrips-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.no-posts-message {
    font-size: 30px;
    color: #0C274E;
    font-weight: 600;
}