#my-trips-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  padding: 0;
  background-color: #EFEFE6;
  position: relative;
  overflow: hidden;
  
}

#my-trips-div {
    width: 100vw;
    padding: 4vh;
    margin: auto;
    margin-top: 60px;
    border-radius: 40px;
}

/* .my-trips-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: Inter, Arial, Helvetica, sans-serif;
    padding: 0;
    background-color: #EFEFE6;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.my-trips-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(map.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed; 
    opacity: 0.2; 
    z-index: -1;
} */

#my-trips-div {
    width: 100vw;
    padding: 4vh;
    margin: auto;
    margin-top: 60px;
    border-radius: 40px;
    position: relative;
    z-index: 2;
}

#my-trips-nav {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-bottom: 4rem;
}

#my-trips-nav .form-control {
    width: 100%;
    border: none;
    border: 1.5px solid #A3A3A3;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 8px; /* increased bottom margin */
}

div.card.mb-4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 20px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    margin: auto; 
}

img.post-image-mytrips {
    width: 100%; 
    max-width: 300px;
    height: 150px; 
    object-fit: cover; 
    border-radius: 10px; 
}

#my-trips-nav a {
    margin: 0;
}

#active-link a {
    font-weight: bold;
}

.search-container {
    position: relative;
    width: 100%;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    color: #6c757d;
    pointer-events: none;
}

#entry-search-bar {
    padding-left: 35px;
    margin: 12px;
    border: 1px solid black;
    border-radius: 5px;
}

#single-view-btn {
    max-width: 70px;
}

#rating-text {
    padding: 0;
}

#action-btns {
    display: flex;
}

#action-btns button {
    flex: 1;
}

.entry-title {
    font-weight: bold;
    font-size: 20px;
}

.mytrips-description,
.entry-title,
.location-mytrips {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.location-mytrips {
    color: #727272;
}

.no-posts-message {
    font-size: 30px;
    color: #0C274E;
    font-weight: 600;
}

.view-button-mytrips {
    background: none;
    color: black;
    font-size: 20px;
    padding: 0;
}
.view-button-mytrips:hover {
    background: none;
    color: gray;
}