#reset-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Inter';
    background: #EFEFE6;
    position: relative;
    overflow: hidden;
}

.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }