#view-trip-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    padding: 0;
    background-color: #EFEFE6;
}

#view-trip-div {
    width: 90vw; /* Adjust width to fit better within different screen sizes */
    max-width: 1000px; /* Add a max-width to prevent it from being too wide */
    height: fit-content;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 2vh;
    border-radius: 20px; /* Slightly smaller border radius for a more modern look */
    background: rgba(255, 255, 255, 0.90); /* Slightly less transparent background */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.10);
}

#username {
    margin: 0;
}

.title-rating-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#image-div {
    display: flex;
}

.post-image-view {
    width: 100%; 
    max-width: 600px;
    height: auto; 
    object-fit: cover; 
    border-radius: 10px; 
}

.post-details-full {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

#action-btns {
    display: flex;
    justify-content: end;
}

#action-btns button {
    max-width: 100px;
    margin-left: 4px;
}

.entry-title-full {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#rating-text {
    font-size: 1.2rem;
    margin: 0;
}

.location-full {
    margin-bottom: 12px;
    font-size: 16px;
    color: #727272;
}

.star2-rating {
    display: flex;
    direction: row;
    justify-content: right;
    padding-top: 6px;
    margin-left: 20px;
}

.star2 {
    font-size: 14px;
    color: #ddd;
}

.star2.filled {
    color: black;
}

.star2-rating input {
    display: none;
}
