#view-trip-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    padding: 0;
}

#view-trip-div {
    width: 100vw;
    margin: auto;
    margin-top: 100px;
    padding: 5vh;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.70);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

#action-btns {
    display: flex;
    justify-content: end;
}

#action-btns button {
    max-width: 150px;
    margin-left: 4px;
}
